@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@layer base {
    :root {
        /* --- LIGHT MODE COLORS --- */
        /* Background Soft (Sidebar) */
        --neutral-primary-soft: 249 250 251; /* gray-50 */
        /* Hover Background */
        --neutral-tertiary: 229 231 235;     /* gray-200 */
        /* Teks Judul */
        --text-heading: 17 24 39;            /* gray-900 */
        /* Teks Body */
        --text-body: 75 85 99;               /* gray-600 */
        /* Border */
        --border-default: 229 231 235;       /* gray-200 */
    }

    /* --- DARK MODE COLORS --- */
    /* Class .dark ini akan ditempel di tag <html> */
    .dark {
        /* Background Soft (Sidebar jadi gelap) */
        --neutral-primary-soft: 17 24 39;    /* gray-900 */
        /* Hover Background */
        --neutral-tertiary: 55 65 81;        /* gray-700 */
        /* Teks Judul (Jadi putih) */
        --text-heading: 249 250 251;         /* gray-50 */
        /* Teks Body (Jadi abu terang) */
        --text-body: 156 163 175;            /* gray-400 */
        /* Border (Jadi gelap) */
        --border-default: 55 65 81;          /* gray-700 */
    }
}
@theme {
  --font-sans:
    "Inter", "Instrument Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

/**
    The lines above are intact.
    The lines below were added by maryUI installer.
*/

/** daisyUI */
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

/* maryUI */
@source "../../vendor/robsontenorio/mary/src/View/Components/**/*.php";

/* Theme toggle */
@custom-variant dark (&:where(.dark, .dark *));

/**
* Paginator - Traditional style
* Because Laravel defaults does not match well the design of daisyUI.
*/

.mary-table-pagination span[aria-current="page"] > span {
  @apply bg-primary text-base-100;
}

.mary-table-pagination button {
  @apply cursor-pointer;
}
